.navbar-brand{
	font-size : 25px;
}

.carousel .carousel-item{
	height : 500px;
}

h1{
	margin-left : 220px;
}

.penjelasan{
	margin-left : 220px;
}

.copyright{
	text-align : center;
	color : white;
}

.hometitle{
	margin-left :450px;
}


	
