body{
	background-image : url('login.jpg');
}

form{
	border-radius : 20px;
	margin-top : 77px;
	margin-left : 454.5px;
	text-align : center;
	width : 440px;
	height : 470px;
	background-color : white;
}

h1{
	height : 40px;
	font-size : 55px;
	font-family : Candara;
	color : black;
}

label{
	font-size : 15px;
	font-family : Candara;
}
			
input[type = text]{
	font-family : Candara;
	height : 40px;
	width : 380px;
	font-size : 15px;
}

input[type = password]{
	font-family : Candara;
	height : 40px;
	width : 380px;
	font-size : 15px;
}

			
input[type = submit]{
	border-radius : 5px;
	width : 380px;
	font-family : Arial;
	height : 35px;
}
			
p{
	text-align : center;
	font-family : Candara;
}

.btn {
	background-color: black; /* Green */
	border: none;
	color: white;
	padding: 15px 0px; 	
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width : 380px;  
	font-size: 16px;
	font-family : Candara;
}

.copyright {
	color : white;
	font-size : 18px;